{% extends 'base.html' %}
{% block body %}
{% load static %}

<style>
    h5{
        text-transform: uppercase;
    }
    li{
       font-size: 18px; 
    }
li.sub_group{
    font-size: 15px;
}    
</style>

<div>
    <h5>Chart of Accounts</h5>
</div>
<hr>
<div style="display:flex; ">
    <div style="width: 50%; text-align: start;">
        <h5 style="font-size: 15px;  height: 3%;">List Of Ledgers</h5>

    </div>
    <div style="width: 50%; text-align: end;">
      <h5 style="font-size: 15px; padding:5px;">For 1-Apr-22</h5>

    </div>
</div>
<div>
    <h5><u>ASSETS</u></h5>
    <ul>
        <li><a href="" >Current Assets</a></li>
        <ul>
            <li><a href="">Bank Accounts</a></li>
            <li><a href="">Deposits</a></li>
            <li><a href="">Loans & Advances</a></li>
            <li><a href="">Stock-in-hand</a></li>
            <li><a href="">Sundry Debtors</a></li>
        </ul>
        <li><a href="">Fixed Assets</a></li>
        <li><a href="">Investments</a></li>
        <li><a href="">Misc. Expenses</a></li>
    </ul><hr>
    
    <h5><u>LIABILITIES</u></h5>
    <ul>
        <li><a href="">Branch / Divisions</a></li>
        <li><a href="">Capital Account</a></li>
        <ul>
            <li><a href="">Reserves & Surplus </a></li>
        </ul>
        <li><a href="">Current Liabilities </a></li>
        <ul>
            <li><a href="">Duties & Taxes </a></li>
            <li><a href="">Provisions </a></li>
            <li><a href="">Sundry Creditors </a></li>
        </ul>
        <li><a href="">Loans (Liability) </a></li>
        <ul>
            <li><a href="">Bank OD A/c </a></li>
            <li><a href="">Secured Loans </a></li>
            <li><a href="">Unsecured loans </a></li>
        </ul>
        <li><a href="">Suspense A/c </a></li>
        <li><a href="">Profil & Loss A/c </a></li>
    </ul><hr>
    <h5><u>EXPENSES</u></h5>
    <ul>
        <li><a href="">Direct Expenses </a></li>
        <li><a href="">Indirect Expenses </a></li>
        <li><a href="">Purchase Accounts </a></li>
    </ul><hr>
    <h5><u>INCOME</u></h5>
    <ul>
        <li><a href="">Direct Incomes </a></li>
        <li><a href="">Indirect Incomes </a></li>
        <li><a href="">Sales Accounts </a></li>
    </ul>

<hr></div>



{% endblock %}